/* This file will hold styles that are loaded using the same media query as the wide grid. */
#zone-header .region-inner{
	width: 1200px;
	margin: 0 auto;
}

.baner-main {
	width: 1200px;
}

.block_logo_techit {
	float: left;
}
.block_main_menu_teachit {
	float: left;
}

.block_search_techit {
	float: right;
}

body {
	font-size: 14pt;
}

#region-branding .media_embed .video{
		width: 500px;
		height: 287px;
}

#region-branding .mobile_business img {
	width: 75px;
}